  <div>
    <%= link_to loves_index_path do %>
      <div class="card-product">
        <%= image_tag 'rose.jpg' %>
        <div class="card-product-infos">
          <h2>Love Compatability Analysis</h2>
          <p>Have a crush! Wondering if you are compatible, find out ...</p>
        </div>
      </div>
    <% end %>
   </div>

  <div>
    <%= link_to masters_users_path do %>
      <div class="card-product">
        <%= image_tag 'fortuneteller.jpg' %>
        <div class="card-product-infos">
          <h2>Consultations</h2>
          <p>Sometimes you just need some more information. Consult a professional ...</p>
        </div>
      </div>
    <% end %>
   </div>
