.top-details {
  margin: 20px 0 32px 0;
}

.greeting {
  font-size: 1.8rem;
}

.card-product.approved {
  padding: 10px;
}

.custom-alert {
  margin-bottom: 16px;
}

.dashboard-header {
  font-size: 20px;
  padding-bottom: 8px;
  margin-top: 32px;
}
