// Specific CSS for your home-page

.landing-text {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.landing-text .title {
  margin-bottom: 60px;
}

.landing-text .title h1 {
  font-size: 60px;
}

.landing-text .title h2 {
  font-size: 24px;
  font-weight: lighter;
}

.landing-text p {
  font-weight: lighter;
  margin: 20px;
}

.new-user-form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-form {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-data {
  justify-items: center;
  display: flex;
  text-align: center;
  margin: 4px;
}

.user-data input {
  border: none;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.5)
}

.new-user-form .button {
  color: #FFF;
  background-color: #AACCAA;
  border-radius: 16px;
  padding: 4px 16px 4px 16px;
  border: 0.5px solid rgba(0,0,0,0);
}

.dev-text {
  opacity: 0.6;
  background-color: #FFF;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 5px;
}

.dev-text a {
  margin: 0;
  padding: 0;
}
