// Specific CSS for your home-page
.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h2 {
  text-align: center;
}

.card-category small {
  text-align: center;
}

.card-category:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s;
}
.card-product {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.landing-text {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.landing-text .title {
  margin-bottom: 60px;
}

.landing-text .title h1 {
  font-size: 60px;
}

.landing-text .title h2 {
  font-size: 24px;
  font-weight: lighter;
}

.landing-text p {
  font-weight: lighter;
  margin: 20px;
}

.user-input-form {
  justify-content: center;
}

.user-data {
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.dev-text {
  opacity: 0.6;
  background-color: #FFF;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 5px;
}

.dev-text a {
  margin: 0;
  padding: 0;
}
