.new-appointment-form {
  background-size: cover;
  background-color: white;
  display: Flex;
  flex-direction: column;
  text-align: justify;
  text-align: top;
  margin-top: 16px;
  height: 330px;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px
}
