<div class="card-love">
  <%= image_tag 'rose_copy.jpg' %>
  <div class="card-product-infos">
    <h1>Love Compatibility</h1>
    <div class="new-user-form">
      <form name="new_user_form" novalidate="" action="/loves/show" class="user-input-form">
      <div class="user-data info">
        <p>Love is hard but it doesn't have to be a guessing game.</p>
        <p><br>Enter their Birthdate to see more:</p>
        <input required="" type="date" placeholder="dd-mm-yyyy" pattern="\d\d-\d\d-\d\d\d\d" min="01-01-1500" max="12-31-2500" name="date" value="">
      </div>
      <div class="header-btns">
        <input type="submit" class="button mt-2" value="Do we match?">
      </div>
      </form>
    </div>
  </div>
</div>
