<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'formal.jpg' %>);">
  <div class="container">
    <h1>Career</h1>
    <h2>Luck with interviews...</h2>
    <h2>Luck with promotions...</h2>
  </div>
</div>
<div class="container" id="paragraph">
  <ul>
    <li>When should I quit?</li>
    <li>How do I get the promotion?</li>
    <li>How is my career luck this year?</li>
    <li>When to take risks and switch careers</li>
    <li>Which industry should I join?</li>
    <li>Lucky time and date for interviews</li>
  </ul>
</div>
