<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'health.jpg' %>);">
  <div class="container">
    <h1>Health</h1>
    <h2>Boosting health luck...</h2>
    <h2>Keeping healthy...</h2>
  </div>
</div>
<div class="container" id="paragraph">
  <ul>
    <li>My luck in health this year</li>
    <li>What to do to maintain my health?</li>
    <li>What events do avoid?</li>
    <li>Lucky days and timings</li>
    <li>Ensuring good health for my family</li>
  </ul>
</div>
