<div class="my-5">
  <h1>Seer</h1>
  <h2>Take destiny into your hands.</h2>
</div>

<div class="my-5">
  <form name="new_user_form" novalidate="" action="/preview">
    <div class="user-data info">
      <span> I was born on&nbsp;</span>
      <input required="" type="date" placeholder="yyyy-mm-dd" pattern="\d\d\d\d-\d\d-\d\d" min="1500-01-01" max="2500-12-31" name="date" value="">
      <span>&nbsp;at&nbsp;</span>
      <input type="time" placeholder="hh:mm AM" pattern="(\d?\d):(\d\d)( (AM|PM|am|pm))?" name="time" id="birthTime" value="">.&nbsp;
    </div>
    <div class="header-btns">
      <input type="submit" class="btn-ghost mt-2" value="Get a reading">
      <!-- gives params 'date' and 'time' -->
    </div>
  </form>
</div>

<div class="my-5">
  <p>Want to know more about...</p>
  <div class="cards container">
    <%= render Category.all %>
  </div>
</div>

<div class="my-5">
  <p><%= user_signed_in? ? "You are signed in as #{current_user.email}" : "You are not signed in yet." %></p>
  <p><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link" if user_signed_in? %></p>
  <p>Already have an account? <%= link_to 'Log in', new_user_session_path %></p>
</div>
