<h1>What are you interested in?</h1>

<!-- input_html: { class: "category-selector" }, -->
<!-- item_wrapper_class: 'category-item' -->

<%= simple_form_for(@user) do |f| %>
  <%= f.input :preferences,
              collection: @categories,
              as: :check_boxes,
              input_html: { class: "category-selector" } %>
  <%= f.submit %>
<% end %>
