<div class="container mt-5">
  <h3>You were born on <%= @birth_date %>, at <%= @birth_time %>.</h3>
  <p>Eventually we will use an API to tell you your fortune but not yet.</p>

  <%= link_to 'Sign up!', new_user_registration_path %>
</div>
