<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'study.jpg' %>);">
  <div class="container">
    <h1>Studies</h1>
    <h2>Luck with exams...</h2>
    <h2>Luck with admissions...</h2>
  </div>
</div>
<div class="container" id="paragraph">
  <ul>
    <li>What lucky colour should I wear for my exams?</li>
    <li>Which university should I apply for?</li>
    <li>Does praying beforehand help with my exams?</li>
    <li>Which subjects should I focus on?</li>
    <li>Can luck help me with my studies?</li>
    <li>Why do some people seem to do well in their studies without working as hard?</li>
  </ul>
</div>
