<div class="card-product">
  <%= image_tag 'fortune1.jpg' %>
  <div class="card-product-infos">
    <h2>Your <%= post.category.name.capitalize %> fortune of the day</h2>
    <p><%= post.description %></p>
  </div>
</div>
