<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'fortune1.jpg' %>)">
  <h2><%= post.title  %></h2>
  <p><%= post.description %></p>
</div>
