<div class="card-product">
  <img src="https://source.unsplash.com/random/?stars">
  <div class="card-product-infos">
    <h2><%= post.title  %></h2>
    <p><%= post.description %></p>
  </div>
</div>




