.btn-ghost {
  background-color: rgba(230, 230, 230, 0.3);
  border: 0.5px white solid;
  border-radius: 16px;
  margin-top: 8px;
}

.btn-ghost:hover {
  background-color: rgba(230, 230, 230, 0.7);
}
