<div class="container">
  <div class="requests mt-3">
    <% if @unaccepted_appointments.count != 0 %>
      <h3>Your pending requests:</h3>
      <%= render @unaccepted_appointments %>
    <% end %>
  </div>
  <div class="accepted_requests mt-3">
    <% if @accepted_appointments.count != 0 %>
      <h3>Your confirmed appointments:</h3>
      <%= render @accepted_appointments %>
    <% end %>
  </div>
</div>

