<h1>Video chat</h1>

<div class="video-container" data-access-token="<%= @access_token %>" data-room-name="<%= @room_name %>">
  <div id="twilio-room">


  </div>

  <button>Turn off video</button>
</div>
